{% extends "base.html" %}


{% block title %}Words list{% endblock %}
{% block header %} <a href="/"> back </a>  {% endblock %}

{% block content %}
<H2>What we should know:</H2>
<div class="words_list">
    <table class="words_list">
        <tr>
            <th>Original</th>
            <th>Перевод</th>
            <th>Комментарий</th>
            <th>Узнать больше</th>
            <th>Внести изменения</th>
        </tr>
        {% for word in dictionary %}
        <tr>
            <td>{{ word.original }}</td>
            <td>{{ word.translate }}</td>
            <td>{{ word.comment }}</td>
            <td><a href="https://context.reverso.net/перевод/английский-русский/{{ word.original }}">{{ word.original }}</a></td>
            <td><a href={% url 'editing' word.id %}>Отредактировать</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}